<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>leaflet教程</title>
    <script src="/js/leaflet/jquery.min.js"></script>
    <!--引进leaflet-->
    <link rel="stylesheet" type="text/css" href="/js/leaflet/leaflet.css"/>
    <script src="/js/leaflet/leaflet.js"></script>
    <style>
        body {
            width: 100%;
            height: 100vh;
            margin: 0;
        }
        .head {
            width: 100%;
            /*height: 10%;*/
        }
        .content {
            width: 600px;
            height: 500px;
            /*left: 20%;*/
        }
    </style>
</head>
<body onload="init();">
<div class="head"></div>
<div class="content" id="map"></div>
</body>
<script>
    function init() {
        var map = L.map('map', {
            center: {lon: 114, lat: 30.71},
            crs: L.CRS.EPSG4326,
            zoom: 8,
            minZoom: 0,
            maxZoom: 16
        });
        L.tileLayer.wms("http://localhost:8089/geoserver/ktw/wms", {
            layers: 'ktw:FDCZL_COUNTY_2007',
            format: 'image/png',
            transparent: true
        }).addTo(map);
        // var latlngs =
        //     [[30.20716935396194, 114.1169348359108],
        //         [30.206689238548282, 114.11772340536118],
        //         [30.206190347671512, 114.1170608997345],
        //         [30.20684480667115, 114.11674171686172],
        //         [30.20716935396194, 114.1169348359108]
        //     ];
        var latlngs2=[];
        // var polygon = L.polygon(latlngs, {color: 'red'}).addTo(map);
        // map.fitBounds(polygon.getBounds());
        $.ajax({
            url: "/polygon.json",
            dataType: 'json',
            type: 'GET',
            timeout: 2000,
            async: false,
            cache: false,
            success: function (json) {
                if(json!=null&&json.type!=null&&json.polygon!=null){
                    //多边形
                    if(json.type=="polygon"){
                        polygon=json.polygon.split(",");
                        for(var i=0;i<polygon.length;i++){
                            var point=[];
                            var points=polygon[i].split(" ");
                            point.push(parseFloat(points[1]));
                            point.push(parseFloat(points[0]));
                            latlngs2.push(point);
                        }
                        var polygon = L.polygon(latlngs2, {color: 'yellow'}).addTo(map);
                        map.fitBounds(polygon.getBounds());
                    }
                    //缓冲园
                    else{
                        var pointCopy=[];
                        pointCopy.push(json.polygon.split(" ")[1]);
                        pointCopy.push(json.polygon.split(" ")[0]);
                        var cirle=L.circle(pointCopy, {radius: 20000}).addTo(map);
                        map.fitBounds(cirle.getBounds());
                    }
                }
            },
            error: function (json, e, s) {
                debugger;
            }

        });
    }
</script>
</html>